@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.school-font {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #2CA4D8;
}

.dashboard-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}